	.logo{
		color: #DC143C;
	}

	header{
		background: #FFC0CB;


	}

	.display-4 {
		font-size: 35px;
	}



	header a{
		color:#FF4500;
		font-size: 19px;
	}




	header a:hover{
		color: #FFA07A;
	}

	header a: active{
		color: #000;
	}


	body{
		background: #FDF5E6;

	}

	.foto-carousel{
		width: 70%;
		position: relative;
		left: 15%;
		margin-top: 3%;
	}

	.principal h2{
		font-size: 40px;
		color: #FF6347;
	}


	.rodape{
		height: 80px;
		background: 	#FFE4E1;
	}

	.rodape a{
		color: black;
	}

	.conteudo-principal{
		margin-top: 20px;
	}

	.principal{
		background: #FFFACD;
		
	}



	legend{
		font-size: 16px;
	}

	.texto h3{
		color: #B22222;
	}

	.texto a{
		color: #D2691E;
		font-size: 14px;
	}

	.rodape2{
		margin-top: 30px;
	}

	.rodape2 a{
		text-decoration: none;
	}

	.rodape a:hover{
		color: #C0C0C0;
	}

	#read h3{
		color: #DC143C;
	}